/* css file for the portfolio project
*
* Date: 04/20/16
* initial file
*
* end */

html {
    box-sizing: border-box;
    margin-top:0;
    padding-top:0;
}
*, *:before, *:after {
    box-sizing: inherit;
}


h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 113%;
}
h4 {
    font-size: 100%;
}
h5 {
    font-size: 82%;
}
h6 {
    font-size: 63%;
}

@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}

@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}


@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}

a {
    /* Typography Declrations */
    font-weight: bold;
    text-decoration: none;
    color: #FFCF33;
}

a:link, a:active {
    text-decoration: none;
    /*  color: #ff9900;*/
    color: #ffcf33;
}

a:hover {
    text-decoration: underline;
    color: #FFE799;
}

a:visited {
    /* Typography Declarations */
    text-decoration: none;
    color: #D1A000;
}


body {
    /*	background-color: #dddddd; */
    font-family: 'Roboto', sans-serif;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top:0;
    padding-top:0;
    width: 100%;
    background-color: darkblue;
}

.navbar {
    height: 4em;
}

/*
.navbar ul  {
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
}


.navbar li {
    display: inline-block;
    padding-left: 15px;
}
*/
.masthead {
    border; 1px solid #ffa500;
    background-color: #ffe799;
    height: 30em;
}

.masthead ul  {
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
}
.masthead li {
    display: inline-block;
    padding-left: 15px;
}

.masthead-intro,
.masthead-heading,
.masthead-heading,
.masthead-heading2 {
    text-align: center;
}

.masthead-intro {
    margin-bottom: 0.1em ;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    color: #ff260d;
}

.masthead-heading {
    margin-top: -0.2em ;
    font-family: "Open Sans", "Helvetica Neue",   sans-serif;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: -0.02em;
    color: #ff650f;
    text-transform: uppercase;
}

.masthead-heading2 {
    margin-top: -0.2em ;
    font-family: "Open Sans", "Helvetica Neue",   sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: -0.02em;
    color: #ff650f;
    text-transform: uppercase;
}

.about {
    border: 1px solid mediumvioletred;
    background-color: #feffcd;
}

.projects {
    border: 1px solid mediumvioletred;
    background-color: pink;
}

.foot {
    border: 1px solid dodgerblue;
    background-color: #D1A000;
}

.content {
    margin: 0 auto;
}
